
body {
    position: relative;
}

#wrap {
    text-align: center;
    height: 100vh;
    line-height: 100vh;
}

h1 {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#menu {
    position: absolute;
    font-size: 24px;
    right: 10px;
    bottom: 10px;
    color: #333;
}

#menu .btn {
    display: inline-block;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.1;
}

#menu .btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

#menu .btn-fullscreen       { background-image: url('chrome-extension://__MSG_@@extension_id__/img/desktop_000000_32.png'); }
#menu .btn-status           { background-image: url('chrome-extension://__MSG_@@extension_id__/img/chain-broken_000000_32.png'); }
#menu .btn-status.connected { background-image: url('chrome-extension://__MSG_@@extension_id__/img/link_000000_32.png'); }
#menu .btn-settings         { background-image: url('chrome-extension://__MSG_@@extension_id__/img/cog_000000_32.png'); }
#menu .btn-about            { background-image: url('chrome-extension://__MSG_@@extension_id__/img/amperka_000000_32.png'); }

#menu.light .btn-fullscreen       { background-image: url('chrome-extension://__MSG_@@extension_id__/img/desktop_ffffff_32.png'); }
#menu.light .btn-status           { background-image: url('chrome-extension://__MSG_@@extension_id__/img/chain-broken_ffffff_32.png'); }
#menu.light .btn-status.connected { background-image: url('chrome-extension://__MSG_@@extension_id__/img/link_ffffff_32.png'); }
#menu.light .btn-settings         { background-image: url('chrome-extension://__MSG_@@extension_id__/img/cog_ffffff_32.png'); }
#menu.light .btn-about            { background-image: url('chrome-extension://__MSG_@@extension_id__/img/amperka_ffffff_32.png'); }

.popup {
    display: none;
    position: absolute;
    padding: 10px;
    bottom: 64px;
    right: 10px;
    background-color: white;
    font-size: 15px;

    border: 2px solid black;
    border-radius: 10px;
}

#about {
    width: 250px;
}

#settings input {
    padding: 3px;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 15px;
}

#settings table {
    width: 100%;
}

#settings th,
#settings td {
    padding: 5px 3px;
}

#settings th {
    text-align: left;
    white-space: nowrap;
    font-weight: normal;
}
