
body {
    position: relative;
}

#wrap {
    text-align: center;
    height: 100vh;
    line-height: 100vh;
}

h1 {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.status {
    position: absolute;
    font-size: 24px;
    right: 10px;
    bottom: 10px;
    color: #333;
}

.invoke-settings {
    position: absolute;
    font-size: 24px;
    right: 40px;
    bottom: 10px;
    color: #333;
}

.connected {
    color: #0f0;
}

#settings {
    display: none;
    position: absolute;
    padding: 10px;
    bottom: 40px;
    right: 10px;
    background-color: white;
    font-size: 15px;

    border: 2px solid black;
    border-radius: 10px;
}

#settings input {
    padding: 3px;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 15px;
}

#settings table {
    width: 100%;
}

#settings th,
#settings td {
    padding: 5px 3px;
}

#settings th {
    text-align: left;
    white-space: nowrap;
    font-weight: normal;
}
